-#  This file is app/views/movies/index.html.haml
%h2 All Movies

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th Index
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    = render :partial => 'movie', :collection => @movies, as: :movie
= link_to 'Add new movie', new_movie_path
