%h2 Create New Movie

= form_tag movies_path, :method => :post do
    = render :partial => "form", :locals => { :movie => @movie }
    = submit_tag 'Save Changes', :class => 'btn btn-primary'
    = link_to 'Back to movie list', movies_path
